#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout-background>.default {
  text-align: center;
  font-size: 16px;
  color: darkblue;
  padding-top: 167px;
}